/.metadata/
laborator2_net/.metadata/.bak_0.log
laborator2_net/.metadata/.bak_1.log
laborator2_net/.metadata/.bak_2.log
laborator2_net/.metadata/.bak_3.log
laborator2_net/.metadata/.bak_4.log
laborator2_net/.metadata/.bak_5.log
laborator2_net/.metadata/.bak_6.log
laborator2_net/.metadata/.bak_7.log
laborator2_net/.metadata/.bak_8.log
laborator2_net/.metadata/.bak_9.log
laborator2_net/.metadata/.lock
laborator2_net/.metadata/.log
laborator2_net/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
laborator2_net/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
laborator2_net/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
laborator2_net/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
laborator2_net/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
laborator2_net/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
laborator2_net/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
laborator2_net/.metadata/.plugins/org.eclipse.core.resources/0.snap
laborator2_net/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
laborator2_net/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
laborator2_net/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
laborator2_net/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
laborator2_net/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
laborator2_net/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
laborator2_net/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
laborator2_net/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
laborator2_net/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
laborator2_net/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
laborator2_net/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
laborator2_net/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
laborator2_net/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
laborator2_net/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
laborator2_net/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.3.20211002-1029.xml
laborator2_net/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
laborator2_net/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
laborator2_net/.metadata/.plugins/org.eclipse.ui.intro/introstate
laborator2_net/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
laborator2_net/.metadata/version.ini
